<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>A Brand New Nanoc Site - <%= @item[:title] %></title>
    <link rel="stylesheet" href="/stylesheet.css">

    <!-- you don't need to keep this, but it's cool for stats! -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Documentation</h2>
      <ul>
        <li><a href="https://nanoc.ws/doc/">Documentation</a></li>
        <li><a href="https://nanoc.ws/doc/tutorial/">Tutorial</a></li>
      </ul>
      <h2>Community</h2>
      <ul>
        <li><a href="http://groups.google.com/group/nanoc/">Discussion group</a></li>
        <li><a href="https://gitter.im/nanoc/nanoc">Gitter channel</a></li>
        <li><a href="https://nanoc.ws/contributing/">Contributing</a></li>
      </ul>
      <% if @item[:author] %>
        <p>This page was written by <%= @item[:author] %>.</p>
      <% end %>
      <p>Tags: <%= tags_for(@item) %></p>
    </div>
    
  </body>
</html>
